/* TYPOS */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); 
@font-face {
  font-family: Winkle; 
  src: url(assets/typo/Winkle-Regular.ttf);
}
@font-face {
  font-family: 'PortfolioIcons';
  src: url('./assets/typo/icons-portfolio-el.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block; /* Prevents the 'invisible text' glitch while loading */
}
/* helper utility class */
.font-icon {
  font-family: 'PortfolioIcons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* ROOT */
:root {
  --violet: #935CC7;
  --bleu-clair: #5C6AC7;
  --bleu-fonce: #2E0073;
  --text: #160038;
  --text-h: var(--bleu-fonce);
  --bg: #FDFAF7;
  --border: #F8EDE2;
  --code-bg: #F8EDE2;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Poppins", sans-serif;
  --heading: "Caprasimo", serif;
  --mono: "Space Mono", monospace; /* pour le code...  */
  --handwritten: Winkle, "Patrick Hand", cursive;

  font: 1rem var(--sans);
  letter-spacing: 0.02rem;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  /* #social .button-icon {
    filter: invert(1) brightness(2);
  } */
}

/* GENERAL */
body {
  margin: 0;
  user-select: auto;
}
body::selection {
  color: var(--bg);
  background-color: var(--bleu-fonce);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  line-height: 118%;
}
h1 {
  font-size: 3rem;
  color: var(--text-h);
  margin: 2rem 0;
  @media (max-width: 1024px) {
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }
}
h2 {
  font-size: 1.5rem;
  /* color: var(--bleu-clair); */
  /* margin: 0 0 0.5rem; */
  @media (max-width: 1024px) {
    font-size: 1.25rem;
  }
}
p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);

  font-size: 0.8rem;
  line-height: 135%;
  padding: 0.25rem 0.5rem;
  background: var(--code-bg);
}
